/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles.scss ***!
  \**********************************************************************************************************/
@charset "UTF-8";
/* =============================================================== */
/* ==================== Override variables ======================= */
:root {
  --ae-info: #ffffff;
  --ae-primary: #00b1eb;
  --ae-black: #121212;
  --ae-white: #ffffff;
  --ae-warning: #fbc300;
  --ae-orange: #FF6E00;
  --ae-green: #6FD745;
  --ae-bg-suscribe: #FFE9D6;
  --ae-color: #3C3C3C;
  /* RGB */
  --ae-info-rgb: 255, 255, 255;
  --ae-primary-rgb: 000, 177, 235;
  --ae-black-rgb: 018, 018, 018;
  --ae-white-rgb: 255, 255, 255;
  --ae-warning-rgb: 251, 195, 000;
  --ae-orange-rgb: 255, 110, 000;
  --ae-bg-suscribe-rgb: 255, 233, 214;
  /* Search button */
  --ae-btn-color-search: #ffffff;
  --ae-btn-bg-search: transparent;
  --ae-btn-hover-color-search: #ffffff;
  --ae-btn-hover-bg-search: transparent;
  --ae-btn-active-color-search: #ffffff;
  --ae-btn-active-bg-search: transparent;
  /* Primary button */
  --ae-btn-color-primary: var(--ae-white);
  --ae-btn-bg-primary: var(--ae-primary);
  --ae-btn-hover-color-primary: var(--ae-white);
  --ae-btn-hover-bg-primary: #21A2E8;
  --ae-btn-active-color-primary: var(--ae-white);
  --ae-btn-active-bg-primary: #21A2E8;
  /* Info button */
  --ae-btn-color-info: var(--ae-black);
  --ae-btn-bg-info: var(--ae-white);
  --ae-btn-hover-color-info: var(--ae-primary);
  --ae-btn-hover-bg-info: var(--ae-btn-bg-info);
  --ae-btn-active-color-info: var(--ae-btn-color-info);
  --ae-btn-active-bg-info: var(--ae-btn-bg-info);
  /* Warning button */
  --ae-btn-color-warning: #121212;
  --ae-btn-bg-warning: #f7b600;
  --ae-btn-hover-color-warning: var(--ae-white);
  --ae-btn-hover-bg-warning: var(--ae-black);
  --ae-btn-active-color-warning: var(--ae-white);
  --ae-btn-active-bg-warning: var(--ae-black);
  /* Icon button */
  --ae-btn-color-icon: var(--ae-black);
  --ae-btn-bg-icon: var(--ae-white);
  --ae-btn-hover-color-icon: var(--ae-btn-color-info);
  --ae-btn-hover-bg-icon: var(--ae-btn-bg-info);
  --ae-btn-active-color-icon: var(--ae-btn-color-info);
  --ae-btn-active-bg-icon: var(--ae-btn-bg-info);
  /* Disable buttons */
  --ae-btn-disabled-color: #6d6c6c;
  --ae-btn-disabled-bg: #dddddd;
  --ae-no-color: transparent;
  /* Fonts */
  --ae-body-font-ubuntu: "Ubuntu", san serif;
  --ae-body-font-size: 14px;
  --ae-body-font-weight: 400;
  --ae-body-line-height: 1.5;
  --ae-body-color: var(--ae-black);
}

/* ============================================================= */
/* =================== Reboot Styles =========================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

body {
  -webkit-text-size-adjust: 100%;
  color: var(--ae-color);
  font-family: var(--ae-body-font-ubuntu);
  font-size: var(--ae-body-font-size);
  font-weight: var(--ae-body-font-weight);
  line-height: 1.5;
  line-height: var(--ae-body-line-height);
  padding-top: 65px;
  box-sizing: border-box;
}

.link, .diplomado-content-info .diplomado-description-block input::after {
  color: var(--ae-primary);
}

/*===========================================*/
/*===========================================*/
/*================= Mixins ===================*/
/*===========================================*/
/*=============== Shadows ===================*/
/* ==================================================== */
/* =================== Buttons ======================== */
.btn {
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* custom button */
.btn-custom {
  width: 130px;
}

/* search button */
.btn-search {
  --bs-btn-active-bg: var(--ae-btn-active-bg-search);
  --bs-btn-active-border-color: var(--ae-no-color);
  --bs-btn-active-color: var(--ae-btn-active-color-search);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-bg: var(--ae-btn-bg-search);
  --bs-btn-border-color: var(--ae-no-color);
  --bs-btn-color: var(--ae-btn-color-search);
  --bs-btn-disabled-bg: var(--ae-btn-disabled-bg);
  --bs-btn-disabled-border-color: var(--ae-no-color);
  --bs-btn-disabled-color: var(--ae-btn-disabled-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-hover-bg: var(--ae-btn-hover-bg-search);
  --bs-btn-hover-border-color: var(--ae-no-color);
  --bs-btn-hover-color: var(--ae-btn-hover-color-search);
  --bs-btn-padding-x: 0rem;
}

/* Dropdown */
.dropdown-toggle {
  color: var(--ae-white);
}
.dropdown-toggle::after {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: var(--ae-warning);
  content: "";
  display: inline-block;
  margin-left: initial;
  vertical-align: initial;
}

/* Primary button */
.btn-primary, .btn-plus, .btn-whatsapp-sticky {
  --bs-btn-active-bg: var(--ae-btn-active-bg-primary);
  --bs-btn-active-border-color: var(--ae-no-color);
  --bs-btn-active-color: var(--ae-btn-active-color-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-bg: var(--ae-btn-bg-primary);
  --bs-btn-border-color: var(--ae-no-color);
  --bs-btn-color: var(--ae-btn-color-primary);
  --bs-btn-disabled-bg: var(--ae-btn-disabled-bg);
  --bs-btn-disabled-border-color: var(--ae-no-color);
  --bs-btn-disabled-color: var(--ae-btn-disabled-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-hover-bg: var(--ae-btn-hover-bg-primary);
  --bs-btn-hover-border-color: var(--ae-no-color);
  --bs-btn-hover-color: var(--ae-btn-hover-color-primary);
}

/* Info button */
.btn-info {
  --bs-btn-active-bg: var(--ae-btn-active-bg-info);
  --bs-btn-active-border-color: var(--ae-no-color);
  --bs-btn-active-color: var(--ae-btn-active-color-info);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-bg: var(--ae-btn-bg-info);
  --bs-btn-border-color: var(--ae-no-color);
  --bs-btn-color: var(--ae-btn-color-info);
  --bs-btn-disabled-bg: var(--ae-btn-disabled-color);
  --bs-btn-disabled-border-color: var(--ae-no-color);
  --bs-btn-disabled-color: var(--ae-btn-disabled-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-hover-bg: var(--ae-btn-hover-bg-info);
  --bs-btn-hover-border-color: var(--ae-no-color);
  --bs-btn-hover-color: var(--ae-btn-hover-color-info);
}

/* Warning button */
.btn-warning {
  --bs-btn-active-bg: var(--ae-btn-active-bg-warning);
  --bs-btn-active-border-color: var(--ae-no-color);
  --bs-btn-active-color: var(--ae-btn-active-color-warning);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-bg: var(--ae-btn-bg-warning);
  --bs-btn-border-color: var(--ae-no-color);
  --bs-btn-color: var(--ae-btn-color-warning);
  --bs-btn-disabled-bg: var(--ae-btn-disabled-color);
  --bs-btn-disabled-border-color: var(--ae-no-color);
  --bs-btn-disabled-color: var(--ae-btn-disabled-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-hover-bg: var(--ae-btn-hover-bg-warning);
  --bs-btn-hover-border-color: var(--ae-no-color);
  --bs-btn-hover-color: var(--ae-btn-hover-color-warning);
}

/* Shoping-cart */
.btn-shopping-cart {
  --bs-btn-color: var(--ae-white);
  --bs-btn-hover-color: var(--ae-white);
}

/* Social buttons */
.btn-circle-social {
  --bs-btn-active-bg: var(--ae-btn-active-bg-icon);
  --bs-btn-active-border-color: var(--ae-no-color);
  --bs-btn-active-color: var(--ae-btn-active-color-icon);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-bg: var(--ae-btn-bg-icon);
  --bs-btn-border-color: var(--ae-no-color);
  --bs-btn-color: var(--ae-btn-color-icon);
  --bs-btn-disabled-bg: var(--ae-btn-disabled-color);
  --bs-btn-disabled-border-color: var(--ae-no-color);
  --bs-btn-disabled-color: var(--ae-btn-disabled-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-hover-bg: var(--ae-btn-hover-bg-icon);
  --bs-btn-hover-border-color: var(--ae-no-color);
  --bs-btn-hover-color: var(--ae-btn-hover-color-icon);
  /* Bootstrap override colors */
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 16px;
  height: 28px;
  justify-content: center;
  margin: 5px;
  width: 28px;
}

/* Close button in modals */
.btn-close-modal {
  --bs-btn-active-bg: var(--ae-no-color);
  --bs-btn-active-border-color: var(--ae-no-color);
  --bs-btn-active-color: var(--ae-white);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-bg: var(--ae-no-color);
  --bs-btn-border-color: var(--ae-no-color);
  --bs-btn-color: var(--ae-white);
  --bs-btn-disabled-bg: var(--ae-btn-disabled-color);
  --bs-btn-disabled-border-color: var(--ae-no-color);
  --bs-btn-disabled-color: var(--ae-btn-disabled-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-hover-bg: var(--ae-no-color);
  --bs-btn-hover-border-color: var(--ae-no-color);
  --bs-btn-hover-color: var(--ae-white);
  /* Bootstrap override colors */
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Sticky button whatsapp */
.btn-whatsapp-sticky {
  align-items: center;
  bottom: 443px;
  display: flex;
  font-size: 1.4rem;
  height: 48px;
  justify-content: center;
  position: fixed;
  right: 0;
  width: 48px;
  z-index: 10;
}
@media (min-width: 992px) {
  .btn-whatsapp-sticky {
    bottom: 243px;
    font-size: 1.8rem;
    height: 70px;
    width: 70px;
  }
}

.btn-plus {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 38px;
  justify-content: center;
  width: 38px;
}

.btn-share {
  --bs-btn-border-color: rgba(var(--ae-black-rgb), 0.3);
  --bs-btn-hover-border-color: rgba(var(--ae-black-rgb), 0.3);
}

/* ==================================================================== */
/* =================== Overryde text colors =========================== */
/* Bootstrap color text classes */
.text-primary {
  color: rgba(var(--ae-primary-rgb), 1) !important;
}

.text-info {
  color: rgba(var(--ae-info-rgb), 1) !important;
}

.text-warning {
  color: rgba(var(--ae-warning-rgb), 1) !important;
}

/* Custom color text classes */
.text-orange {
  color: rgba(var(--ae-orange-rgb), 1) !important;
}

/* Custom color text classes */
.text-white {
  color: rgba(var(--ae-white-rgb), 1) !important;
}

/* ========================================= */
/* ================== Utilities =================== */
.divider {
  height: 2px;
  background-color: var(--ae-primary);
  width: 65px;
  margin: 30px 0;
}
@media (min-width: 992px) {
  .divider {
    background-color: var(--ae-orange);
  }
}

/* Shared */
.card {
  -moz-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  width: 100%;
}
.card-heading {
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--ae-white);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-top: -20px;
  padding: 10px;
  position: relative;
  width: 150px;
  z-index: 1;
}
.card-heading img {
  width: 100%;
  display: block;
}
.card-footing {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
.card-footing .endorsed {
  margin-bottom: 20px;
  text-align: right;
}

/* Tarjetas carrusel de cursos relacionados */
.course-related-card {
  background-color: var(--ae-black);
  color: var(--ae-white);
  max-width: 220px;
  height: 190px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 25px;
}
.course-related-card-button {
  display: flex;
  justify-content: flex-end;
}
.course-related-card-button > .btn-plus > img {
  width: 100%;
  display: block;
}
.course-related-card-body {
  margin-top: 30px;
}

/* =================================================== */
/* ==================== Header ======================= */
.header-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .header-content {
    flex-wrap: nowrap;
  }
}

.header-branding {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .header-branding {
    margin-bottom: initial;
    width: initial;
  }
}
.header-branding .navbar-brand {
  display: inline;
  font-size: 12px;
}
.header-branding .navbar-brand img {
  width: 124px;
  display: block;
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .navbar-collapse {
    flex-direction: row;
    justify-content: space-between;
    padding: inherit;
  }
}
.navbar-collapse .navbar-search {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  padding: 0 10px;
  width: 100%;
}
.navbar-collapse .navbar-search .form-control {
  background-color: transparent;
  border: 0;
  color: #ffffff;
}
.navbar-collapse .navbar-search .form-control:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}
.navbar-collapse .navbar-search .form-control::placeholder {
  color: #ffffff;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-search {
    width: initial;
  }
}
.navbar-collapse .navbar-nav {
  width: 100%;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav {
    width: initial;
  }
}
.navbar-collapse .navbar-nav .nav-item:not(.dropdown) {
  box-sizing: border-box;
  padding: 10px 0;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav .nav-item:not(.dropdown) {
    padding: 0px 10px;
  }
}
.navbar-collapse .navbar-nav .btn-login,
.navbar-collapse .navbar-nav .btn-register {
  align-items: center;
  display: flex;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav .btn-login {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.heroe-color-bar, .heroe-color-bar-secondary {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  background-color: var(--ae-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
@media (min-width: 992px) {
  .heroe-color-bar, .heroe-color-bar-secondary {
    background-color: var(--ae-warning);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}
.heroe-color-bar .message-bar, .heroe-color-bar-secondary .message-bar {
  box-sizing: border-box;
  margin: 15px auto;
  padding: 0 12px;
  width: 100%;
}
@media (min-width: 768px) {
  .heroe-color-bar .message-bar, .heroe-color-bar-secondary .message-bar {
    padding: initial;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .heroe-color-bar .message-bar, .heroe-color-bar-secondary .message-bar {
    margin: 0 auto;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .heroe-color-bar .message-bar, .heroe-color-bar-secondary .message-bar {
    width: 1150px;
  }
}
@media (min-width: 1400px) {
  .heroe-color-bar .message-bar, .heroe-color-bar-secondary .message-bar {
    width: 1320px;
  }
}
.heroe-color-bar .message-bar p, .heroe-color-bar-secondary .message-bar p {
  box-sizing: border-box;
  font-size: 20px;
  max-width: 370px;
  padding: 5px 0;
}
@media (min-width: 992px) {
  .heroe-color-bar .message-bar p, .heroe-color-bar-secondary .message-bar p {
    max-width: initial;
  }
}
.heroe-color-bar .color-grid, .heroe-color-bar-secondary .color-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 22px;
  position: relative;
  width: 100%;
}
@media (min-width: 992px) {
  .heroe-color-bar .color-grid, .heroe-color-bar-secondary .color-grid {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
  }
}
.heroe-color-bar .color-grid .color1,
.heroe-color-bar .color-grid .color2,
.heroe-color-bar .color-grid .color3,
.heroe-color-bar .color-grid .color4,
.heroe-color-bar .color-grid .color5,
.heroe-color-bar .color-grid .color6, .heroe-color-bar-secondary .color-grid .color1,
.heroe-color-bar-secondary .color-grid .color2,
.heroe-color-bar-secondary .color-grid .color3,
.heroe-color-bar-secondary .color-grid .color4,
.heroe-color-bar-secondary .color-grid .color5,
.heroe-color-bar-secondary .color-grid .color6 {
  display: block;
  height: 22px;
}
@media (min-width: 992px) {
  .heroe-color-bar .color-grid .color1,
  .heroe-color-bar .color-grid .color2,
  .heroe-color-bar .color-grid .color3,
  .heroe-color-bar .color-grid .color4,
  .heroe-color-bar .color-grid .color5,
  .heroe-color-bar .color-grid .color6, .heroe-color-bar-secondary .color-grid .color1,
  .heroe-color-bar-secondary .color-grid .color2,
  .heroe-color-bar-secondary .color-grid .color3,
  .heroe-color-bar-secondary .color-grid .color4,
  .heroe-color-bar-secondary .color-grid .color5,
  .heroe-color-bar-secondary .color-grid .color6 {
    height: initial;
  }
}
.heroe-color-bar .color-grid .color4,
.heroe-color-bar .color-grid .color5,
.heroe-color-bar .color-grid .color6, .heroe-color-bar-secondary .color-grid .color4,
.heroe-color-bar-secondary .color-grid .color5,
.heroe-color-bar-secondary .color-grid .color6 {
  display: none;
}
@media (min-width: 992px) {
  .heroe-color-bar .color-grid .color4,
  .heroe-color-bar .color-grid .color5,
  .heroe-color-bar .color-grid .color6, .heroe-color-bar-secondary .color-grid .color4,
  .heroe-color-bar-secondary .color-grid .color5,
  .heroe-color-bar-secondary .color-grid .color6 {
    display: block;
  }
}
.heroe-color-bar .color-grid .color1, .heroe-color-bar-secondary .color-grid .color1 {
  background-color: var(--ae-orange);
}
.heroe-color-bar .color-grid .color2, .heroe-color-bar-secondary .color-grid .color2 {
  background-color: var(--ae-green);
}
.heroe-color-bar .color-grid .color3, .heroe-color-bar-secondary .color-grid .color3 {
  background-color: var(--ae-primary);
}
.heroe-color-bar .color-grid .color4, .heroe-color-bar-secondary .color-grid .color4 {
  background-color: var(--ae-white);
}
@media (min-width: 992px) {
  .heroe-color-bar .color-grid .color4, .heroe-color-bar-secondary .color-grid .color4 {
    background-color: var(--ae-warning);
  }
}
.heroe-color-bar .color-grid .color5,
.heroe-color-bar .color-grid .color6, .heroe-color-bar-secondary .color-grid .color5,
.heroe-color-bar-secondary .color-grid .color6 {
  background-color: var(--ae-white);
}
.heroe-color-bar-secondary {
  background-color: var(--ae-no-color);
}
@media (min-width: 992px) {
  .heroe-color-bar-secondary {
    background-color: var(--ae-orange);
    height: 30px;
  }
}
.heroe-color-bar-secondary .message-bar {
  margin: initial;
  padding: initial;
}
.heroe-color-bar-secondary .color-grid .color1 {
  background-color: var(--ae-orange);
}
@media (min-width: 992px) {
  .heroe-color-bar-secondary .color-grid .color1 {
    background-color: var(--ae-black);
  }
}
.heroe-color-bar-secondary .color-grid .color2 {
  background-color: var(--ae-green);
}
.heroe-color-bar-secondary .color-grid .color3 {
  background-color: var(--ae-primary);
}
.heroe-color-bar-secondary .color-grid .color4 {
  background-color: var(--ae-white);
}
@media (min-width: 992px) {
  .heroe-color-bar-secondary .color-grid .color4 {
    background-color: var(--ae-warning);
  }
}
.heroe-color-bar-secondary .color-grid .color5,
.heroe-color-bar-secondary .color-grid .color6 {
  background-color: var(--ae-white);
}

.suscriptor {
  background-color: var(--ae-bg-suscribe);
  overflow: hidden;
}
.suscriptor-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;
}
@media (min-width: 768px) {
  .suscriptor-content {
    align-items: center;
    flex-direction: row;
  }
}
.suscriptor-content img {
  display: block;
  width: 600px;
}
.suscriptor-content img.devices-picture-responsive {
  width: 300px;
}
@media (min-width: 768px) {
  .suscriptor-content img.devices-picture-responsive {
    display: none;
    width: 100%;
  }
}
.suscriptor-content img.devices-picture-desktop {
  display: none;
  max-width: 380px;
}
@media (min-width: 768px) {
  .suscriptor-content img.devices-picture-desktop {
    display: block;
  }
}
@media (min-width: 992px) {
  .suscriptor-content img.devices-picture-desktop {
    max-width: initial;
  }
}
.suscriptor-cta {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .suscriptor-cta {
    margin-top: initial;
    text-align: left;
  }
}
.suscriptor-cta p:first-of-type {
  font-weight: bold;
}

.modal-header {
  background-color: var(--ae-black);
  color: var(--ae-white);
}
.modal-header .btn-close-modal {
  font-size: 1.4rem;
}
.modal-body.modal-register {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .modal-body.modal-register {
    grid-template-columns: 200px 1fr;
  }
}
.modal-body.modal-register .modal-register-cover {
  align-items: center;
  display: flex;
  display: none;
  justify-content: center;
}
@media (min-width: 992px) {
  .modal-body.modal-register .modal-register-cover {
    display: block;
  }
}
.modal-body.modal-register .modal-register-content form {
  margin: 20px 0;
}
.modal-body.modal-register .modal-register-content-footer {
  border-top: 1px solid gray;
  padding: 10px 0;
  text-align: center;
}

/* =================================================== */
/* ==================== Footer ======================= */
footer {
  box-sizing: border-box;
  color: var(--ae-white);
  padding: 50px 0;
}
footer .footer-content {
  display: grid;
  font-size: 1rem;
  grid-template-columns: 38% 24% 38%;
  grid-template-rows: auto auto auto auto;
}
footer .footer-content .footer-economista-logo {
  display: flex;
  grid-column: 1/4;
  grid-row: 1/2;
  justify-content: center;
}
@media (min-width: 1200px) {
  footer .footer-content .footer-economista-logo {
    justify-content: flex-start;
  }
}
footer .footer-content .footer-economista-logo img {
  display: block;
}
footer .footer-content .copyright {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  grid-column: 1/4;
  grid-row: 5/6;
  justify-content: flex-end;
  padding: 20px 0;
  text-align: center;
}
@media (min-width: 768px) {
  footer .footer-content .copyright {
    font-size: 0.85rem;
  }
}
@media (min-width: 1200px) {
  footer .footer-content .copyright {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    text-align: left;
  }
}
footer .footer-content .copyright p:has(a) a {
  box-sizing: border-box;
  color: var(--ae-white);
  padding: 0 10px;
}
footer .footer-content .copyright p:has(a) a:first-of-type {
  border-left: 1px solid var(--ae-warning);
  border-right: 1px solid var(--ae-warning);
}
footer .footer-content .social-network {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  grid-column: 1/4;
  padding: 20px 0;
  text-align: center;
}
@media (min-width: 1200px) {
  footer .footer-content .social-network {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
  }
}
@media (min-width: 1400px) {
  footer .footer-content .social-network {
    flex-direction: row;
  }
}
footer .footer-content .social-network > p {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  footer .footer-content .social-network > p {
    margin-bottom: 0;
  }
}
footer .footer-content .social-network-options {
  display: flex;
}
footer .footer-content .contact {
  display: grid;
  grid-column: 1/4;
}
@media (min-width: 1200px) {
  footer .footer-content .contact {
    grid-column: 3/4;
  }
}
footer .footer-content .contact-title {
  grid-column: 1/4;
  margin-bottom: 20px;
}
footer .footer-content .contact-phone, footer .footer-content .contact-email, footer .footer-content .contact-whatsapp {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  grid-column: 1/4;
  justify-content: center;
  margin: 20px 0;
}
@media (min-width: 390px) {
  footer .footer-content .contact-phone, footer .footer-content .contact-email, footer .footer-content .contact-whatsapp {
    grid-column: auto;
    margin: initial;
  }
}
@media (min-width: 768px) {
  footer .footer-content .contact-phone, footer .footer-content .contact-email, footer .footer-content .contact-whatsapp {
    font-size: 0.9rem;
  }
}
footer .footer-content .contact-phone img, footer .footer-content .contact-email img, footer .footer-content .contact-whatsapp img {
  display: block;
  margin-bottom: 10px;
  width: 24px;
}
@media (min-width: 390px) {
  footer .footer-content .contact-email {
    border-left: 1px solid rgb(112, 112, 112);
    border-right: 1px solid rgb(112, 112, 112);
  }
}

/* Index.html */
.heroe {
  position: relative;
  height: 780px;
  background-color: var(--ae-black);
}
@media (min-width: 992px) {
  .heroe {
    height: auto;
  }
}
.heroe-bg-desktop {
  display: none;
  width: 100%;
}
@media (min-width: 992px) {
  .heroe-bg-desktop {
    display: block;
  }
}
.heroe-bg-responsive {
  display: block;
  width: 100%;
}
@media (min-width: 992px) {
  .heroe-bg-responsive {
    display: none;
  }
}
.heroe-cta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
@media (min-width: 992px) {
  .heroe-cta {
    background: transparent;
  }
}
.heroe-cta-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
.heroe-cta-content-branding {
  display: none;
}
@media (min-width: 992px) {
  .heroe-cta-content-branding {
    display: block;
    margin-bottom: 30px;
    width: 150px;
  }
}
@media (min-width: 1400px) {
  .heroe-cta-content-branding {
    width: 250px;
  }
}
.heroe-cta-content-title, .heroe-cta-content-description {
  color: var(--ae-white);
}
@media (min-width: 992px) {
  .heroe-cta-content-title, .heroe-cta-content-description {
    color: var(--ae-black);
  }
}
.heroe-cta-content-title {
  font-size: 2.2rem;
}
@media (min-width: 992px) {
  .heroe-cta-content-title {
    font-size: 1.6rem;
    text-shadow: 2px 2px 2px rgba(var(--ae-black-rgb), 0.4);
  }
}
@media (min-width: 1200px) {
  .heroe-cta-content-title {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  .heroe-cta-content-title {
    font-size: 2.2rem;
  }
}
.heroe-cta-content-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .heroe-cta-content-description {
    font-size: 0.8rem;
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .heroe-cta-content-description {
    font-size: 1rem;
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .heroe-cta-content-description {
    font-size: 1.2rem;
  }
}
.heroe-cta-content-description p:first-of-type {
  margin: 20px 0;
}

.courses-content {
  box-sizing: border-box;
  padding: 20px 0;
  position: relative;
}
.courses-carousel-item {
  margin-right: 10px;
  width: 100%; /* half-width */
}
.courses-carousel-item .card {
  min-height: 560px;
}
@media (min-width: 576px) {
  .courses-carousel-item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .courses-carousel-item {
    width: 32%;
  }
}
.courses-carousel.flickity-enabled {
  position: inherit;
}

.economista-related-heading {
  box-sizing: border-box;
  padding: 10px 0;
}
.economista-related-branding {
  background-color: var(--ae-black);
  box-sizing: border-box;
  padding: 10px 0;
  text-align: center;
}
.economista-related-content {
  box-sizing: border-box;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
}
@media (min-width: 992px) {
  .economista-related-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.economista-related-content-item {
  display: block;
}
.economista-related-content-item img {
  display: block;
  width: 100%;
}

.vision {
  position: relative;
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}
.vision::before {
  -moz-box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.vision-content {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
}
.vision-content .vision-img-1,
.vision-content .vision-img-2 {
  max-width: 50%;
  min-width: 20%;
  position: absolute;
}
.vision-content .vision-img-1 {
  left: 0;
  top: 0;
}
.vision-content .vision-img-2 {
  bottom: 0;
  right: 0;
}
.vision-content > div {
  margin: 20px 0;
  min-width: 260px;
  text-align: center;
  width: 60%;
}
@media (min-width: 992px) {
  .vision-content > div {
    max-width: 890px;
    width: 50%;
  }
}
.vision-content > div p {
  display: flex;
  font-size: 18px;
  justify-content: center;
  position: relative;
}
@media (min-width: 992px) {
  .vision-content > div p {
    font-size: 28px;
  }
}
.vision-content > div p:first-of-type {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .vision-content > div p:first-of-type {
    font-size: 20px;
    font-weight: 400;
  }
}
.vision-content > div p:first-of-type::after {
  background-color: #707070;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  width: 20%;
}
@media (min-width: 576px) {
  .vision-content > div p:first-of-type::after {
    width: 10%;
  }
}
@media (min-width: 992px) {
  .vision-content > div p:first-of-type::after {
    display: none;
  }
}
.vision-content > div p:last-of-type {
  font-weight: 700;
}

.partners {
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.25);
  position: relative;
}
.partners-content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}
.partners-content > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.partners-content > div p {
  font-size: 1rem;
  max-width: 300px;
}
@media (min-width: 768px) {
  .partners-content > div p {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .partners-content {
    height: 300px;
    padding: initial;
  }
}
.partners-content p {
  width: 100%;
  text-align: center;
}
.partners-brands {
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 300px;
}
@media (min-width: 768px) {
  .partners-brands {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
  }
}
.partners-brands li {
  align-items: center;
  display: flex;
  justify-content: center;
}
.partners-brands li:last-of-type {
  justify-content: flex-start;
}
.partners-brands li img {
  width: 100%;
}

/* Diplomados.html */
/* Heroe diplomados page */
.diplomado-heroe {
  background-color: var(--ae-black);
  position: relative;
}
.diplomado-heroe-bg {
  display: none;
  width: 100%;
}
@media (min-width: 992px) {
  .diplomado-heroe-bg {
    display: block;
  }
}
.diplomado-heroe-content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: relative;
  top: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .diplomado-heroe-content {
    justify-content: flex-end;
    position: absolute;
  }
}
.diplomado-heroe-content > div {
  width: 100%;
}
@media (min-width: 992px) {
  .diplomado-heroe-content > div {
    width: 50%;
  }
}
.diplomado-heroe-content > div .diplomado-heroe-title,
.diplomado-heroe-content > div .diplomado-heroe-description {
  text-align: center;
}
@media (min-width: 992px) {
  .diplomado-heroe-content > div .diplomado-heroe-title,
  .diplomado-heroe-content > div .diplomado-heroe-description {
    text-align: left;
  }
}
.diplomado-heroe-content > div .diplomado-heroe-title p {
  color: var(--ae-white);
}
@media (min-width: 992px) {
  .diplomado-heroe-content > div .diplomado-heroe-title p {
    color: var(--ae-orange);
  }
}
.diplomado-heroe-content > div .diplomado-heroe-title p:first-of-type {
  color: var(--ae-white);
}
.diplomado-heroe-content > div .diplomado-heroe-description {
  color: var(--ae-white);
  margin: 20px auto;
  width: 100%;
}
@media (min-width: 576px) {
  .diplomado-heroe-content > div .diplomado-heroe-description {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .diplomado-heroe-content > div .diplomado-heroe-description {
    font-size: 1.4rem;
    text-align: left;
    width: 100%;
  }
}

.diplomados-partners {
  position: relative;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}
.diplomados-partners::before {
  -moz-box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.15);
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.diplomados-partners-content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: center;
}
@media (min-width: 992px) {
  .diplomados-partners-content {
    flex-direction: row;
  }
}
.diplomados-partners-content img {
  display: block;
  height: 82px;
  margin: 20px 0;
}
@media (min-width: 992px) {
  .diplomados-partners-content img {
    margin: 0 20px;
  }
}

.diplomado {
  background-color: var(--ae-white);
  box-sizing: border-box;
  color: var(--ae-black);
  padding: 20px 0;
}
@media (min-width: 992px) {
  .diplomado {
    background-color: var(--ae-black);
    color: var(--ae-white);
  }
}
.diplomado-content .diplomado-cta-btn {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.diplomado-content .diplomado-cta-btn .btn-cta {
  min-width: 80%;
}
@media (min-width: 992px) {
  .diplomado-content .diplomado-cta-btn {
    justify-content: flex-start;
  }
  .diplomado-content .diplomado-cta-btn .btn-cta {
    min-width: initial;
  }
}
.diplomado-content-info .diplomado-title p {
  text-align: center;
}
.diplomado-content-info .diplomado-title p:first-of-type {
  text-transform: uppercase;
  font-weight: 300;
}
.diplomado-content-info .diplomado-description {
  margin: 30px 0;
}
.diplomado-content-info .diplomado-description-block p {
  --max-lines: 3;
  --line-height: 1.5;
  line-height: var(--line-height);
  max-height: calc(var(--max-lines) * 0.9rem * var(--line-height));
  overflow: hidden;
  position: relative;
}
@media (min-width: 992px) {
  .diplomado-content-info .diplomado-description-block p {
    max-height: initial;
  }
}
.diplomado-content-info .diplomado-description-block input {
  appearance: none;
}
@media (min-width: 992px) {
  .diplomado-content-info .diplomado-description-block input {
    display: none;
  }
}
.diplomado-content-info .diplomado-description-block input::after {
  content: "ver más";
}
.diplomado-content-info .diplomado-description-block:has(input:checked) p {
  max-height: initial;
}
.diplomado-content-info .diplomado-description-block:last-child > span {
  display: block;
}
@media (min-width: 992px) {
  .diplomado-content-info .diplomado-description-block:last-child > span {
    color: var(--ae-orange);
  }
}
.diplomado-content-info .diplomado-wrapper {
  position: relative;
}
.diplomado-content-info .diplomado-wrapper::before, .diplomado-content-info .diplomado-wrapper::after {
  background-color: var(--ae-black);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 13px;
  z-index: 10;
}
.diplomado-content-info .diplomado-wrapper::before {
  left: -12px;
}
.diplomado-content-info .diplomado-wrapper::after {
  right: -12px;
}
@media (min-width: 576px) {
  .diplomado-content-info .diplomado-wrapper::before, .diplomado-content-info .diplomado-wrapper::after {
    display: none;
  }
}
.diplomado-content-info .diplomado-wrapper .diplomado-module {
  background-color: var(--ae-black);
  overflow-x: scroll;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table {
  display: grid;
  grid-template-columns: repeat(5, 300px);
}
@media (min-width: 1200px) {
  .diplomado-content-info .diplomado-wrapper .diplomado-module-table {
    grid-template-columns: repeat(5, 1fr);
  }
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col {
  border-right: 1px solid var(--ae-white);
  position: relative;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col:nth-child(4)::after {
  display: none;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col:last-of-type {
  border-right: 0;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col-head {
  align-items: center;
  background-color: var(--ae-black);
  box-sizing: border-box;
  color: var(--ae-orange);
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  height: 110px;
  padding: 10px 15px;
  position: relative;
}
@media (min-width: 992px) {
  .diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col-head {
    align-items: flex-start;
    background-color: var(--ae-orange);
    color: var(--ae-white);
    flex-direction: column;
  }
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col-head::after {
  background-image: url(../d3abfd2a469f471d1f81.svg);
  background-repeat: no-repeat;
  color: var(--ae-black);
  content: "";
  display: none;
  height: 30px;
  position: absolute;
  right: -17px;
  top: 37%;
  width: 30px;
  z-index: 1;
}
@media (min-width: 992px) {
  .diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col-head::after {
    color: var(--ae-black);
    display: block;
  }
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col-head span {
  align-items: center;
  background-color: var(--ae-white);
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--ae-black);
  display: block;
  display: flex;
  height: 28px;
  justify-content: center;
  margin-right: 15px;
  width: 28px;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col-head-title {
  text-transform: uppercase;
  position: relative;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col-body {
  box-sizing: border-box;
  color: var(--ae-white);
  padding: 15px;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col:nth-child(4) {
  border-right: 0;
}
@media (min-width: 992px) {
  .diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col:nth-child(4) {
    border-right: 1px solid var(--ae-white);
  }
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-col:nth-child(4) .module-col-head::after {
  display: none;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta {
  align-items: center;
  display: none;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta {
    display: flex;
  }
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta div:nth-child(2) {
  margin: 0 auto;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta .arrow-right {
  border-bottom: 35px solid transparent;
  border-left: 35px solid var(--ae-orange);
  border-top: 35px solid transparent;
  height: 0;
  width: 0;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta > div p {
  width: 100%;
  font-size: 1.4rem;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta > div p:first-of-type {
  text-transform: uppercase;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta-button .btn.btn-primary, .diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta-button .btn.btn-whatsapp-sticky, .diplomado-content-info .diplomado-wrapper .diplomado-module-table .module-cta-button .btn.btn-plus {
  display: block;
  width: 90%;
}
.diplomado-content-info .diplomado-movil-cta {
  border-bottom: 1px solid rgba(var(--ae-black-rgb), 0.2);
  border-top: 2px solid var(--ae-black);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}
.diplomado-content-info .diplomado-movil-cta::before, .diplomado-content-info .diplomado-movil-cta::after {
  border-bottom: 1px solid rgba(var(--ae-black-rgb), 0.2);
  border-top: 2px solid var(--ae-black);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  top: -2px;
  width: 12px;
}
.diplomado-content-info .diplomado-movil-cta::before {
  left: -12px;
}
.diplomado-content-info .diplomado-movil-cta::after {
  right: -12px;
}
.diplomado-content-info .diplomado-movil-cta .arrow-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 0;
  border-top: 30px solid var(--ae-orange);
}
@media (min-width: 992px) {
  .diplomado-content-info .diplomado-movil-cta {
    display: none;
  }
}
.diplomado-content-info .diplomado-movil-cta-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.diplomado-content-info .diplomado-movil-cta-head > div {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  width: 100%;
}
.diplomado-content-info .diplomado-movil-cta-head > div p {
  box-sizing: border-box;
  padding: 0 10px;
  text-transform: uppercase;
}
.diplomado-content-info .diplomado-movil-cta-head > p {
  font-size: 1.4rem;
  font-weight: 400;
}
.diplomado-content-info .diplomado-movil-cta-body {
  margin: 30px 0;
  width: 100%;
}
.diplomado-content-info .diplomado-movil-cta-body p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.why-anahuac {
  box-sizing: border-box;
  padding: 30px 0;
}
.why-anahuac-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 992px) {
  .why-anahuac-content {
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    height: 280px;
  }
}
.why-anahuac-content .why-anahuac-item:first-of-type {
  grid-column: span 2;
}
@media (min-width: 992px) {
  .why-anahuac-content .why-anahuac-item:first-of-type {
    grid-column: initial;
  }
}
.why-anahuac-content .why-anahuac-item:first-of-type p {
  text-align: center;
}
.why-anahuac-content .why-anahuac-item {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
@media (min-width: 992px) {
  .why-anahuac-content .why-anahuac-item {
    align-items: center;
    justify-content: flex-start;
  }
}
.why-anahuac-content .why-anahuac-item:first-of-type p {
  font-size: 1.6rem;
}
@media (min-width: 992px) {
  .why-anahuac-content .why-anahuac-item:first-of-type p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1400px) {
  .why-anahuac-content .why-anahuac-item:first-of-type p {
    font-size: 1.6rem;
  }
}
.why-anahuac-content .why-anahuac-item .title {
  align-items: center;
  background-color: var(--ae-primary);
  border-radius: 50%;
  color: var(--ae-white);
  display: flex;
  font-size: 1.5rem;
  height: 80px;
  justify-content: center;
  text-align: center;
  width: 80px;
}
@media (min-width: 992px) {
  .why-anahuac-content .why-anahuac-item .title {
    background-color: transparent;
    border-radius: initial;
    color: var(--ae-black);
    font-size: 2rem;
    height: initial;
    width: initial;
  }
}
.why-anahuac-content .why-anahuac-item p:last-of-type {
  text-align: center;
}
@media (min-width: 992px) {
  .why-anahuac-content .why-anahuac-item p:last-of-type {
    height: 50px;
    text-align: left;
  }
}

/* Cursos */
.course-heroe {
  background-color: var(--ae-black);
  box-sizing: border-box;
  color: var(--ae-white);
  position: relative;
}
.course-heroe-bg-desktop {
  display: none;
  width: 100%;
}
@media (min-width: 992px) {
  .course-heroe-bg-desktop {
    display: block;
  }
}
.course-heroe-bg-responsive {
  display: block;
  width: 100%;
}
@media (min-width: 992px) {
  .course-heroe-bg-responsive {
    display: none;
  }
}
.course-heroe-info {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  padding: 30px 0;
  position: relative;
  top: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .course-heroe-info {
    position: absolute;
  }
}
.course-heroe-info .course-heroe-heading img {
  display: none;
  max-width: 260px;
}
@media (min-width: 992px) {
  .course-heroe-info .course-heroe-heading img {
    display: block;
  }
}
.course-heroe-info .course-heroe-data {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .course-heroe-info .course-heroe-data {
    border-left: 1px solid var(--ae-primary);
    margin-top: initial;
  }
}
.course-heroe-info .course-heroe-data-init {
  border-bottom: 1px solid var(--ae-primary);
  box-sizing: border-box;
  padding: 10px 0;
}
@media (min-width: 992px) {
  .course-heroe-info .course-heroe-data-init {
    border-bottom: 0;
  }
}
.course-heroe-info .course-heroe-data-lenght {
  border-bottom: 1px solid var(--ae-primary);
  box-sizing: border-box;
  padding: 10px 0;
}
@media (min-width: 992px) {
  .course-heroe-info .course-heroe-data-lenght {
    border-bottom: 0;
  }
}
.course-heroe-info .course-heroe-data-cta {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .course-heroe-info .course-heroe-data-cta {
    justify-content: flex-start;
  }
}
.course-heroe-info .course-heroe-data-cta .btn {
  min-width: 171px;
}
@media (min-width: 992px) {
  .course-heroe-info .course-heroe-data-cta .btn {
    min-width: initial;
  }
}

.course {
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .course {
    padding: 30px 0;
  }
}
.course-content .course-topics-items {
  color: var(--ae-orange);
  left: 20px;
  list-style: disc;
  position: relative;
}
.course-content .course-topics-items-item p {
  color: var(--ae-black);
}

.course-makeYourWay {
  background-color: var(--ae-black);
  box-sizing: border-box;
  color: var(--ae-white);
  padding: 30px 0;
}
.course-makeYourWay-title {
  text-align: center;
}
@media (min-width: 992px) {
  .course-makeYourWay-title {
    text-align: left;
  }
}
.course-makeYourWay-description {
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 992px) {
  .course-makeYourWay-description {
    margin-bottom: initial;
    text-align: left;
  }
}
.course-makeYourWay-description .btn-plus {
  cursor: none;
  display: inline-block;
  margin: 0 10px;
  pointer-events: none;
}

/* Instrucciones para formar el curso */
.course-instruction {
  background-color: rgba(60, 60, 60, 0.1);
  box-sizing: border-box;
  padding: 10px 5px;
}
@media (min-width: 992px) {
  .course-instruction {
    align-items: center;
    display: flex;
  }
}
.course-instruction p:first-of-type {
  padding-right: 10px;
  position: relative;
}
.course-instruction p:first-of-type span {
  position: relative;
}
.course-instruction p:first-of-type span::after {
  background-color: var(--ae-orange);
  bottom: 0;
  content: "";
  height: 100%;
  position: absolute;
  right: -10px;
  width: 2px;
}
@media (min-width: 992px) {
  .course-instruction p:first-of-type span::after {
    background-color: var(--ae-black);
  }
}
@media (min-width: 576px) {
  .course-instruction p:last-of-type {
    align-items: flex-end;
    display: inline-flex;
  }
}
@media (min-width: 992px) {
  .course-instruction p:last-of-type {
    margin-left: 5px;
  }
}
.course-instruction p:last-of-type i {
  display: inline-flex;
  height: 26px;
  margin: 0 5px;
  width: 22px;
}
.course-instruction p:last-of-type i img {
  display: block;
  margin: auto;
  position: relative;
}

/* Paginas internas del curso */
.course-content-internal {
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .course-content-internal-info > div {
    border-right: 1px solid var(--ae-primary);
  }
  .course-content-internal-info > div:last-of-type {
    border-right: 0;
  }
}

/* Paginas sin video curso interno */
.course-module-heroe {
  position: relative;
}
.course-module-heroe .course-module-img-desktop {
  display: none;
}
@media (min-width: 992px) {
  .course-module-heroe .course-module-img-desktop {
    display: block;
    width: 100%;
  }
}
.course-module-heroe .course-module-img-responsive {
  width: 100%;
}
@media (min-width: 992px) {
  .course-module-heroe .course-module-img-responsive {
    display: none;
  }
}

.course-module-content {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--ae-white);
  background-color: var(--ae-black);
  margin-top: 30px;
}
@media (min-width: 992px) {
  .course-module-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    margin-top: inherit;
  }
}
.course-module-content-info {
  background-color: var(--ae-black);
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 992px) {
  .course-module-content-info {
    background-color: transparent;
  }
}
.course-module-content-info > img {
  width: 200px;
}
.course-module-content-info p:first-of-type {
  margin-top: 50px;
}

/* Microcursos */
.microCourse-carousel-item {
  width: 100%;
}
.microCourse-carousel-item .row {
  margin: 20px 0;
}
.microCourse-carousel .flickity-prev-next-button {
  display: none;
}
@media (min-width: 992px) {
  .microCourse-carousel .flickity-prev-next-button {
    display: block;
  }
}
.microCourse-carousel .flickity-page-dots {
  bottom: initial;
  position: relative;
}
.microCourse-carousel .flickity-page-dots .dot {
  background: var(--ae-white);
  border-radius: 6px;
  border: 1px solid var(--ae-primary);
  height: 20px;
  width: 80px;
}
.microCourse-carousel .flickity-page-dots .dot.is-selected {
  background: var(--ae-primary);
}

/* Microcursos miniaturas */
.microCourse-item {
  border-radius: 20px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
@media (min-width: 992px) {
  .microCourse-item {
    margin: initial;
  }
}
.microCourse-item::before {
  background: linear-gradient(90deg, rgb(0, 0, 0) 30%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.microCourse-item img {
  display: block;
  width: 100%;
}
.microCourse-item-info {
  box-sizing: border-box;
  color: var(--ae-white);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 2;
}
.microCourse-item-info p:first-of-type {
  font-size: 1rem;
}
@media (min-width: 576px) {
  .microCourse-item-info p:first-of-type {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .microCourse-item-info p:first-of-type {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .microCourse-item-info p:first-of-type {
    font-size: 1rem;
  }
}
.microCourse-item-info p:last-of-type {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.microCourse-item-info p:last-of-type img {
  width: 24px;
  display: inline-block;
  margin-right: 10px;
}
.microCourse-item .btn-plus {
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  bottom: 10px;
  position: absolute;
  right: 10px;
  z-index: 2;
}

/* Microcursos contenido */
.micro-course-heroe {
  color: var(--ae-white);
  overflow: hidden;
}
@media (min-width: 992px) {
  .micro-course-heroe {
    background-color: var(--ae-black);
  }
}
.micro-course-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .micro-course-content {
    flex-direction: row;
  }
}
.micro-course-heading {
  width: 100%;
  order: 2;
  background-color: var(--ae-black);
  margin-top: 30px;
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
}
.micro-course-heading::before, .micro-course-heading::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: var(--ae-black);
  z-index: -1;
}
@media (min-width: 992px) {
  .micro-course-heading::before, .micro-course-heading::after {
    display: none;
  }
}
.micro-course-heading::before {
  left: -100%;
}
.micro-course-heading::after {
  right: -100%;
}
@media (min-width: 992px) {
  .micro-course-heading {
    margin-top: initial;
    order: initial;
    padding: initial;
  }
}
.micro-course-heading img {
  display: none;
  max-width: 200px;
}
@media (min-width: 992px) {
  .micro-course-heading img {
    display: block;
  }
}
.micro-course-heading p:first-of-type {
  margin-top: 0;
}
@media (min-width: 992px) {
  .micro-course-heading p:first-of-type {
    margin-top: 30px;
  }
}
.micro-course-video {
  width: 100%;
  background-color: var(--ae-black);
  position: relative;
}
.micro-course-video::before, .micro-course-video::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: var(--ae-black);
  z-index: -1;
}
@media (min-width: 992px) {
  .micro-course-video::before, .micro-course-video::after {
    display: none;
  }
}
.micro-course-video::before {
  left: -100%;
}
.micro-course-video::after {
  right: -100%;
}
.micro-course-video video {
  display: block;
  width: 100%;
}

/* Cursos nav */
.course-nav {
  position: relative;
  font-size: 0.7rem;
}
@media (min-width: 576px) {
  .course-nav {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .course-nav {
    background-color: transparent;
    margin: initial;
  }
}
.course-nav-items {
  display: flex;
}
.course-nav-items-item {
  display: flex;
  align-items: center;
}
.course-nav-items-item a {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  color: var(--ae-black);
}
.course-nav-items-item a span {
  margin-right: 5px;
}
.course-nav-items-item::before {
  content: "+";
  margin: 0 10px;
}
.course-nav-items-item:first-of-type::before {
  display: none;
}
.course-nav-items-item.active {
  background-color: var(--ae-black);
}
.course-nav-items-item.active::before {
  display: none;
}
.course-nav-items-item.active a {
  color: var(--ae-orange);
}

.course-nav.internal {
  background-color: rgba(18, 18, 18, 0.1);
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .course-nav.internal {
    background-color: transparent;
  }
}
.course-nav.internal .course-nav-items .course-nav-items-item.active {
  background-color: var(--ae-black);
}
@media (min-width: 768px) {
  .course-nav.internal .course-nav-items .course-nav-items-item {
    background-color: rgba(18, 18, 18, 0.1);
  }
}

.course-details {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: initial;
  border: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .course-details {
    -moz-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(var(--ae-black-rgb), 0.2);
  }
}
.course-details-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.course-details-item img {
  display: block;
  color: black;
  margin-right: 10px;
}
.course-details-item-info p:first-of-type {
  text-transform: uppercase;
}
.course-details-item .btn {
  margin: 10px 0;
  width: 250px;
}
@media (min-width: 992px) {
  .course-details-item .btn {
    width: 100%;
  }
}
.course-details-item:last-of-type {
  flex-direction: column;
  align-items: center;
}

.course-index-items {
  color: var(--ae-orange);
  list-style: disc;
  margin-left: 20px;
}
.course-index-items-item {
  margin: 10px 0;
}
.course-index-items-item p {
  color: var(--ae-black);
}

.course-badge {
  margin: 30px 0;
}
@media (min-width: 992px) {
  .course-badge {
    margin: initial;
  }
  .course-badge-title {
    background-color: var(--ae-black);
    color: var(--ae-white);
    display: inline;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
.course-badge img {
  display: block;
  max-width: 150px;
}

@media (min-width: 992px) {
  .course-experts-title {
    background-color: var(--ae-black);
    color: var(--ae-white);
    display: inline;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
.course-experts > img {
  display: block;
  max-width: 80px;
}
@media (min-width: 992px) {
  .course-experts > img {
    margin-left: 80px;
  }
}

/* Carrusel cursos relacionados */
.courses-related {
  position: relative;
  height: 386px;
  display: flex;
  color: var(--ae-white);
  align-items: center;
  justify-content: center;
}
.courses-related > img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
.courses-related .container {
  position: relative;
  z-index: 1;
}
.courses-related .container .courses-related-carousel {
  padding: 30px 0;
  box-sizing: border-box;
}
.courses-related .container .courses-related-carousel-item {
  display: flex;
  justify-content: space-around;
}
